header {
  background: #ffffff;
  padding: 13px 0;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 221px;
  width: 100%;
}

.nav-menu-header {
  margin: 0 auto;
}

.menu-header {
  display: flex;
  align-items: center;
}

.phone {
  margin: 0 24px 0 0;
  font-size: 18px;
  font-weight: 600;
  color: #1D2126;
}
.phone:hover {
  color: rgba(25, 41, 57, 0.8);
}