.home {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 394px 0 423px;
  background: url(../img/home-bg.jpg) no-repeat center;
  background-size: cover;
}
.home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(27.36% 17.78% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.logo-animate {
  margin: auto;
  max-width: 507px;
  width: 100%;
  animation: float 3.5s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.category-section h3 {
  text-transform: uppercase;
}
.category-section .btn {
  margin: 19px auto 0;
}

.category-image {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 1488px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-section-item {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 92px 0 483px;
}

.tehnology-company .box-text {
  color: rgba(25, 41, 57, 0.8);
}
.tehnology-company .basic-principle {
  margin: 164px 0 0;
}

.tehnology-box {
  max-width: 420px;
  width: 100%;
  padding: 32px 32px 5px;
  border: 1px solid rgba(25, 41, 57, 0.4);
}
.tehnology-box h4 span {
  margin: 16px 0;
  display: block;
}

.basic-principle {
  margin: auto 0 0;
  padding: 0 0 0 150px;
}
.basic-principle h3 {
  margin: 0 0 16px;
}
.basic-principle .box-text {
  color: rgba(25, 41, 57, 0.8);
}

.tehnology-video {
  width: 100%;
  max-width: 875px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tehnology-video video {
  width: 100%;
}

.innovation-section {
  padding: 105px 0;
}
.innovation-section .basic-principle {
  padding: 0;
}
.innovation-section .basic-principle .box-text {
  max-width: 585px;
}
.innovation-section .btn {
  margin: auto 0 0;
}

.innovation-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 150px;
}

.image-wrapper {
  width: 100%;
  margin: 0 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-wrapper:last-child {
  margin: 0;
}
.image-wrapper img {
  width: 100%;
}

.images-gallery {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.images-gallery .image-wrapper {
  max-width: 277px;
  height: 276px;
}
.images-gallery .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-wrapper {
  position: relative;
  z-index: 1;
}

.play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 78px;
  height: 78px;
  fill: #fff;
  background: #1D2126;
  display: flex;
  align-items: center;
  justify-content: center;
}
.play-btn svg {
  width: 48px;
  height: 48px;
}

.advantages-section .box-text-title {
  max-width: 433px;
  margin-left: auto;
  color: rgba(25, 41, 57, 0.8);
}

.advantages-row {
  display: flex;
  align-items: flex-end;
  padding: 48px 16px;
  border-bottom: 1px solid #dbdbdb;
}
.advantages-row:first-child {
  border-top: 1px solid #dbdbdb;
}
.advantages-row .advantages-row-box {
  padding: 0 32px;
}
.advantages-row .advantages-row-box:first-child {
  width: 38%;
}
.advantages-row .advantages-row-box:nth-child(2) {
  width: 25%;
}
.advantages-row .advantages-row-box:last-child {
  width: 37%;
}
.advantages-row .image-wrapper {
  width: 194px;
  height: 271px;
}
.advantages-row .box-text {
  color: rgba(25, 41, 57, 0.8);
}

.project-card {
  width: 100%;
}
.project-card__img {
  width: 100%;
  height: 518px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-card__body {
  width: 100%;
  padding: 24px 0 0;
}
.project-card__title {
  color: #1D2126;
}
.project-card__title:hover {
  color: #909499;
}

.package-section .tehnology-box {
  margin: 24px 0;
  padding: 32px;
  max-width: 588px;
}
.package-section .tehnology-box h4 {
  font-weight: 500;
}
.package-section .btn {
  margin-left: 80px;
}

.package-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.package-img img {
  width: 100%;
}

.partners-section {
  padding: 120px 0 96px;
}

.partners-wrapper {
  width: 100%;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.partners-item {
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin: 0 24px 24px 0;
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners-item:hover {
  background: rgba(25, 41, 57, 0.4);
}
.partners-item img {
  max-height: 100%;
}
.partners-item:last-child {
  margin: 0;
}

.cooperation-section .box-text {
  max-width: 400px;
  margin-left: auto;
  color: rgba(25, 41, 57, 0.8);
}
.cooperation-section .box-text .btn {
  margin: 24px 0 0;
}

.cooperation-image {
  margin: -150px auto 0;
  z-index: -1;
  position: relative;
}

.callback-section .box-text-big {
  margin: 12px 0 0;
}
.callback-section__image {
  border-left: 1px solid #dbdbdb;
  padding: 0 0 0 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.callback-section .form-callback {
  margin: 48px auto 0;
}

.sustainability-wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.sustainability-content {
  position: absolute;
  right: 0;
  top: 0;
  flex: 2;
  padding: 48px;
  max-width: 50%;
  width: 100%;
}
.sustainability-content .box-text {
  margin: 24px 0 0;
  max-width: 650px;
}

.sustainability-item {
  flex: 1;
  min-height: 905px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.sustainability-item:last-child {
  border-right: none;
}
.sustainability-item__img {
  display: none;
}
.sustainability-item__body {
  padding: 48px;
  width: 100%;
}
.sustainability-item h3 span {
  font-size: 80px;
  line-height: 75%;
  font-weight: 500;
}
.sustainability-item .box-text {
  margin: 16px 0 0;
}