/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1700px) {
  .logo {
    max-width: 180px;
  }
  .menu li {
    margin: 0 15px 0 0;
  }
  .menu li:last-child {
    margin: 0;
  }
  .images-gallery .image-wrapper {
    max-width: 220px;
  }
  .sustainability-item h3 span {
    font-size: 60px;
  }
  .menu-footer {
    margin: 0 auto;
  }
  .header-bottom {
    padding: 80px 20px;
  }
  .header-bottom-menu > li > a {
    font-size: 24px;
    line-height: 1;
    padding: 12px 0;
  }
  .header-bottom-submenu {
    padding: 0 0 0 10px;
    margin: 10px 0 0;
  }
  .header-bottom-submenu li a {
    font-size: 16px;
    line-height: 1;
    padding: 10px 0;
  }
}
@media only screen and (max-width: 1440px) {
  h2, .h2 {
    font-size: 36px;
  }
  h3, .h3 {
    font-size: 24px;
  }
  .h2-big {
    font-size: 50px;
  }
  .box-text-big {
    font-size: 20px;
  }
  .p-120 {
    padding: 80px 0;
  }
  footer {
    padding: 80px 0;
  }
  footer .phone {
    font-size: 24px;
  }
  .home {
    padding: 250px 0;
  }
  .nav-menu-header {
    display: none;
  }
  header {
    padding: 18px 0;
  }
  header .logo {
    margin: 0 auto 0 0;
  }
  .logo {
    max-width: 296px;
  }
  .advantages-row .image-wrapper {
    width: 120px;
    height: 220px;
  }
  .sustainability-item h3 span {
    font-size: 40px;
  }
  .sustainability-item__body {
    padding: 36px;
  }
  .innovation-content {
    padding: 0 0 0 40px;
  }
  .innovation-section {
    padding: 70px 0;
  }
}
@media only screen and (max-width: 1200px) {
  .sustainability-item__body {
    padding: 20px;
  }
  .tehnology-company .basic-principle {
    margin: 24px 0 0;
  }
  .innovation-content {
    padding: 0;
  }
  .package-section .btn {
    margin-left: 0;
  }
  .package-section .tehnology-box {
    padding: 24px;
    max-width: none;
  }
}
@media only screen and (max-width: 992px) {
  .p-120 {
    padding: 64px 0;
  }
  .mb-48 {
    margin-bottom: 24px;
  }
  .h2-big {
    font-size: 40px;
  }
  .home {
    padding: 175px 0;
  }
  .logo-animate {
    max-width: 354px;
  }
  .header-bottom {
    padding: 24px 40px;
    overflow-y: auto;
  }
  .header-bottom-box {
    margin: 48px 0 0;
    padding: 48px 0 0;
    border-top: 1px solid #DBDBDB;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .header-bottom-box a {
    font-size: 24px;
  }
  .phone-link {
    margin: 40px 0 0;
    font-size: 24px;
  }
  .header-bottom-menu > li {
    margin: 0 0 16px;
  }
  .header-bottom-menu > li > a {
    padding: 24px 0;
  }
  .header-bottom-submenu {
    padding: 0 0 0 32px;
  }
  .header-bottom-submenu li a {
    padding: 12px 0;
    font-size: 20px;
  }
  .tehnology-company .basic-principle {
    padding: 0;
  }
  .basic-principle h3 {
    margin: 0 0 8px;
    font-size: 32px;
  }
  .tehnology-video {
    max-width: none;
    margin: 24px 0 0;
  }
  .tehnology-box {
    max-width: none;
    padding: 24px;
  }
  .category-section-item {
    padding: 70px 0 350px;
  }
  .innovation-content {
    margin: 0;
  }
  .basic-principle {
    margin: 0;
  }
  .innovation-section .basic-principle .box-text {
    max-width: none;
  }
  .innovation-section .basic-principle .box-text br {
    display: none;
  }
  .innovation-section {
    padding: 0;
    margin: 0 0 64px;
  }
  .innovation-section .images-gallery .image-wrapper {
    max-width: none;
    flex: 1;
  }
  .mb-lg-16 {
    margin-bottom: 16px;
  }
  .mb-lg-24 {
    margin-bottom: 24px;
  }
  .advantages-row {
    padding: 32px 0;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .advantages-row .advantages-row-box:first-child {
    width: 60%;
    padding: 0 16px;
  }
  .advantages-row .advantages-row-box:nth-child(2) {
    padding: 0 16px;
    width: 40%;
    margin: 8px 0 0;
  }
  .advantages-row .advantages-row-box:last-child {
    width: 100%;
    margin: 24px 0 0;
    padding: 0;
  }
  .advantages-row h3 {
    font-size: 32px;
  }
  .sustainability-content {
    position: relative;
    padding: 0;
    text-align: center;
    max-width: none;
    flex: none;
    order: -2;
  }
  .sustainability-content .box-text {
    max-width: none;
  }
  .sustainability-item {
    flex: none;
    width: 100%;
    margin: 48px 0 0;
    min-height: auto;
    border: 1px solid #dbdbdb;
    text-align: center;
  }
  .sustainability-item:last-child {
    order: -1;
  }
  .sustainability-item__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sustainability-item__body {
    padding: 32px 24px;
  }
  .sustainability-item h3 span {
    font-size: 64px;
  }
}
@media only screen and (max-width: 768px) {
  .h2-big {
    font-size: 32px;
    letter-spacing: 0;
  }
  .header-top .phone, .header-top .social-list {
    display: none;
  }
  header {
    padding: 16px 0;
  }
  .category-image {
    max-width: 546px;
  }
  .advantages-row .advantages-row-box:first-child {
    width: 100%;
    padding: 0;
  }
  .advantages-row .advantages-row-box:nth-child(2) {
    width: 100%;
    padding: 0;
  }
  .project-card__img {
    height: auto;
  }
  .project-card__body {
    padding: 12px 0 0;
  }
}