@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirNextCyr";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr/AvenirNextCyr-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 22px;
  letter-spacing: 0.3px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #1D2126;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 54px;
  background: transparent;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #595959;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #595959;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  box-shadow: none;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 13px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 45px;
  font-size: 16px;
  font-weight: bold;
  height: 46px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container-fluid {
  padding: 0 12px;
}

.container {
  max-width: 1514px;
  padding: 0 12px;
}

.row > * {
  padding: 0 12px;
}

h1, .h1 {
  font-weight: 600;
  font-size: 80px;
  line-height: 95%;
  letter-spacing: 1.6px;
  margin: 0;
  width: 100%;
}

h2, .h2 {
  width: 100%;
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 1px;
}

.h2-big {
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 1.3px;
  margin: 0;
  width: 100%;
}

h3, .h3 {
  width: 100%;
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
}

h4, .h4 {
  width: 100%;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}

.box-text-big {
  font-size: 24px;
  line-height: 110%;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.font-text {
  font-family: "AvenirNextCyr", sans-serif;
}

.p-120 {
  padding: 120px 0;
}

.social-list {
  display: flex;
  align-items: center;
}
.social-list li {
  margin: 0 12px 0 0;
}
.social-list li:last-child {
  margin: 0;
}
.social-list li a {
  border: 1px solid #1D2126;
  padding: 10px;
  width: 52px;
  height: 52px;
  fill: #1D2126;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-list li a:hover {
  background: #1D2126;
  fill: #fff;
}
.social-list li a:focus {
  background: rgba(25, 41, 57, 0.6);
  border-color: rgba(25, 41, 57, 0.6);
  fill: #fff;
}
.social-list li a:disabled {
  opacity: 0.3;
  border-color: #1D2126;
  fill: #1D2126;
  background: #fff;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.btn-burger {
  border: 1px solid #1D2126;
  padding: 10px;
  width: 52px;
  height: 52px;
  margin: 0 0 0 12px;
  fill: #1D2126;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-burger:hover {
  background: #1D2126;
  fill: #fff;
}
.btn-burger:focus {
  background: rgba(25, 41, 57, 0.6);
  border-color: rgba(25, 41, 57, 0.6);
  fill: #fff;
}
.btn-burger:disabled {
  opacity: 0.3;
  border-color: #1D2126;
  fill: #1D2126;
  background: #fff;
}

.svg-icon-close {
  display: none;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.label-checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin: 15px 0 0;
  line-height: 1.14;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: 16px;
  height: 16px;
  min-width: 16px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #fff url("../img/check-black.svg") no-repeat center;
  background-size: 8px;
}