@import "vars"

header
  background: $white
  // padding: 13px 0
  z-index: 10
  position: fixed
  left: 0
  top: 0
  width: 100%

.logo
  @include d-flex
  max-width: 221px
  width: 100%

.nav-menu-header
  margin: 0 auto

.menu-header
  display: flex
  align-items: center
  li
    a
      border-bottom: 1px solid transparent
      padding: 28px 0
      &.active, &:hover
        border-color: $dark

.header-bottom
  display: none
  position: absolute
  z-index: 3
  left: 0
  top: 100%
  width: 100%
  background: $dark
  color: #fff
  padding: 140px 120px
  &.open
    display: block
  .social-list
    margin: 0 0 48px

.header-bottom-box
  height: 100%
  display: flex
  flex-direction: column
  justify-content: flex-end
  a
    color: #fff
    &:hover
      color: $white-60

.header-bottom-menu
  max-width: 582px
  width: 100%
  font-weight: 500
  >li
    margin: 0 0 24px
    width: 100%
    &:last-child  
      margin: 0
    >a
      width: 100%
      padding: 24px 0
      font-size: 32px
      line-height: 32px
      color: $white-60
      border-bottom: 1px solid transparent
      &:hover
        border-color: $white
        color: $white
      &.active  
        border-color: $white
        color: $white

.header-bottom-submenu
  padding: 0 0 0 32px
  margin: 16px 0 0
  font-weight: 500
  font-size: 24px
  line-height: 24px
  li
    margin: 0 0 10px
    &:last-child
      margin: 0
    a
      padding: 21px 0
      color: $white-60
      &:hover, &.active
        color: #fff



.phone-link
  font-size: 18px
  font-weight: 600
  line-height: 100%
  margin: 16px 0 0

.phone
  margin: 0 24px 0 0
  font-size: 18px
  font-weight: 600
  color: $dark
  &:hover
    color: $dark-60
