@import 'fonts'
@import 'vars'

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

html, body
  height: 100%
  margin: 0
  padding: 0
  // overflow: hidden

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 22px
  letter-spacing: 0.3px
  font-family: $default-font
  font-weight: normal
  background: #fff
  color: $dark
  padding: 78px 0 0
  &.no-scroll
    overflow: hidden

canvas#mouseCanvas
  position: fixed
  inset: 0
  width: 100%
  height: 100%
  display: block
  z-index: 9999
  pointer-events: none

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none
  width: fit-content

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0 24px
  box-sizing: border-box
  font-family: $default-font
  border: 1px solid #DBDBDB
  border-radius: 0
  width: 100%
  height: 54px
  background: #fff
  color: #000
  font-size: 18px
  line-height: 22px
  letter-spacing: 0.3px
  cursor: pointer
  transition: .3s ease
  &::placeholder
    color: $dark-40
  &:hover, &:focus
    outline: none
    box-shadow: none
  &:hover
    border: 1px solid $gray-stroke
    color: $dark
    &::placeholder
      color: $dark
  &:focus
    border-color: $dark
    color: $dark
  &:valid
    background: #F0F0F0
    border: 1px solid $gray-stroke
    color: $dark

input[type="radio"], input[type="checkbox"]
  width: auto
  height: auto
  appearance: auto
  margin: 0 5px 0 0
  display: inline

label
  display: block
  width: 100%
  margin: 0 0 16px

  &:last-child
    margin: 0

textarea
  resize: none
  padding: 12px 17px
  height: 103px

.form-callback
  max-width: 584px
  width: 100%
  margin: 0 auto
  [type="submit"]
  margin: 0 0 0 10px
  h4
    margin: 16px 0
    color: $dark-60

.form-footer
  width: 100%
  display: flex
  align-items: center

.list-social-radio
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  font-size: 14px
  line-height: 16px
  letter-spacing: 0.3px

.social-radio-item
  flex: 1
  margin: 0 16px 16px 0
  display: flex
  align-items: center
  background: #fff
  border: 1px solid $gray-stroke
  padding: 16px 24px
  cursor: pointer
  transition: .3s ease
  &:last-child
    margin: 0 0 16px
  input
    display: none
    &:checked ~ .social-radio-item__custom:after
      transform: translate(-50%, -50%) scale(1)
  &__custom
    margin: 0 12px 0 0
    width: 18px
    height: 18px
    min-width: 18px
    border: 1px solid $dark
    border-radius: 50%
    position: relative
    z-index: 1
    cursor: pointer
    &:after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: 10px
      height: 10px
      background: $dark
      border-radius: 50%
      transform: translate(-50%, -50%) scale(0)
      transition: .3s ease
  &:hover
    border-color: $dark
    color: $dark
  &:focus
    border-color: $dark-60

button, .btn
  outline: none
  transition: .3s ease
  cursor: pointer
  box-shadow: none
  font-family: $default-font
  padding: 0
  margin: 0
  border: none
  border-radius: 0

  &:hover, &:focus
    outline: none
    box-shadow: none

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  padding: 10px 35px
  font-family: $MPlus1p
  font-size: 18px
  font-weight: 500
  letter-spacing: 0.7px
  text-transform: uppercase
  height: 52px
  border-radius: 0
  transition: 0.3s ease

.btn-dark
  border: 1px solid #fff
  color: $white
  background: $dark
  &:hover
    background: $white
    border-color: $dark
    color: $dark
  &:focus
    border-color: $dark
    color: $white
    background: $dark
  &:disabled
    opacity: 0.5
    border-color: $dark
    color: $white
    background: $dark

.svg-icon
  display: inline-block
  width: 100%
  height: 100%

strong, b
  font-weight: bold
  display: inline-block

ul, ol
  padding: 0 0 0 20px

.my-ul
  list-style: none
  padding: 0

.list-dots
  list-style-type: disc

.container-fluid
  padding: 0 12px

.container
  max-width: 1514px
  padding: 0 12px

.row
  >*
    padding: 0 12px

h1, .h1
  font-weight: 600
  font-size: 80px
  line-height: 95%
  letter-spacing: 1.6px
  margin: 0
  width: 100%
  text-transform: uppercase

h2, .h2
  width: 100%
  margin: 0
  font-size: 48px
  font-weight: 600
  line-height: 100%
  letter-spacing: 1px
  text-transform: uppercase

.h2-big
  font-weight: 600
  font-size: 64px
  line-height: 100%
  letter-spacing: 1.3px
  margin: 0
  width: 100%

h3, .h3
  width: 100%
  margin: 0
  font-weight: 600
  font-size: 32px
  line-height: 100%
  text-transform: uppercase

h4, .h4
  width: 100%
  margin: 0
  font-weight: 600
  font-size: 24px
  line-height: 100%

.box-text
  p
    margin: 0 0 16px
    &:last-child
      margin: 0

.box-text-big
  font-size: 24px
  line-height: 110%
  font-weight: normal
  letter-spacing: 0.5px

.font-text
  font-family: $font

.p-120
  padding: 120px 0

.mb-32
  margin-bottom: 32px

.mb-48
  margin-bottom: 48px

.mb-64
  margin-bottom: 64px

.text-uppercase
  text-transform: uppercase

.bg-dark
  background: $dark
  color: $white

.bg-light-gray
  background: $light-gray

.text-gradient
  background: linear-gradient(90deg, #5B6674 0%, #B3BCC4 15.25%, #68778A 37.38%, #435267 59.02%, #A2AEB9 78.28%, #20272E 90.04%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  text-fill-color: transparent

.text-indent
  text-indent: 75px

.text-indent-2
  text-indent: 35px

.d-block
  display: flex

.social-list
  display: flex
  align-items: center
  li
    margin: 0 12px 0 0
    &:last-child
      margin: 0
    a
      border: 1px solid $dark
      padding: 10px
      width: 52px
      height: 52px
      fill: $dark
      @include d-flex
      &:hover
        background: $dark
        fill: #fff
      &:focus
        background: $dark-60
        border-color: $dark-60
        fill: #fff
      &:disabled
        opacity: 0.3
        border-color: $dark
        fill: $dark
        background: #fff

.social-list-white
  li
    a
      background: #fff
      border-color: #fff
      fill: $dark
      &:hover
        background: $dark
        fill: #fff
      &:focus
        background: $dark-60
        border-color: $dark-60
        fill: #fff
      &:disabled
        opacity: 0.3
        border-color: $dark
        fill: $dark
        background: #fff

.social-list-white-border
  li
    a
      fill: $white
      border-color: $white
      &:hover
        background: $white
        fill: $dark
      &:focus
        background: $white
        border-color: $white
        fill: $dark

.nav-menu
  display: flex
  align-items: center

.menu
  font-size: 14px
  font-weight: 500
  letter-spacing: 0.6px
  li
    margin: 0 39px 0 0
    &:last-child
      margin: 0
  a
    color: $dark-40
    &:hover, &.active
      color: $dark

.btn-burger
  border: 1px solid $dark
  padding: 10px
  width: 52px
  height: 52px
  margin: 0 0 0 12px
  fill: $dark
  @include d-flex
  &:hover
    background: $dark
    fill: #fff
  &:focus
    background: $dark-60
    border-color: $dark-60
    fill: #fff
  &:disabled
    opacity: 0.3
    border-color: $dark
    fill: $dark
    background: #fff
  &.active
    .svg-icon-burger
      display: none
    .svg-icon-close
      display: block
  svg
    transition: .3s ease

.svg-icon-close
  display: none

// slick  
.slick-slider
  width: 100%

.slick-slide
  outline: none

//checkbox my
.label-checkbox
  position: relative
  display: flex
  align-items: flex-start
  color: $dark-60
  font-size: 14px
  line-height: 16px
  letter-spacing: 0.3px
  margin: 0
  input
    display: none
    &:checked ~ .label-checkbox__custom
      background: $dark url('../img/check-icon-white.svg') no-repeat center
      background-size: 16px
    &:checked ~ .label-checkbox__text
      color: $dark

  &__custom
    position: relative
    z-index: 1
    cursor: pointer
    transition: .3 ease
    width: 18px
    height: 18px
    min-width: 18px
    margin: 0 8px 0 0
    border: 1px solid $dark-60
  &:hover
    color: $dark
//checkbox my end

// animate title
.anim-letters
  display: inline-block
  overflow: hidden
  white-space: nowrap

  span
    display: inline-block
    opacity: 0
    transition: opacity 3.6s ease-in-out // плавное, длинное проявление //

  span.half
    opacity: 0.5

  span.visible
    opacity: 1
    transition: opacity 1.4s ease-out // быстрее 2-й фазы //
